.container {
    max-width: 1920px;
    margin: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: min-content;
}

.image {
    width: 110%;
    height: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border-radius: 30px;
}

.text {
    z-index: 0;
    padding: 0.5rem;
    margin-block-end: auto;
    margin-top: 10rem;
    background: linear-gradient(217deg, #ee4305, #e87544 70.71%, #d27b62);
    border-radius: 30px;
    /* border: 0.3rem solid #050505; */
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #e4d5d5;
    grid-column: 3 / 4;
    grid-row: 1;
    box-shadow: 0 0 2em #050505;
}

/* Mobile */
@media (max-width: 700px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 0,5rem;

        /* grid-auto-rows: minmax(100px, auto); */

    }

    .image {
        height: 64%;
        width: auto;
        border-radius: 0px;
        position: absolute;
        left: -100%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .text{
        margin: 1rem;
        margin-top: -1.6rem;
        /* grid-column: 1 / 2; */
        grid-row: 2 / 3;
        z-index: 0;
        font-size: 1.3rem;
    }
}