.container {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-column-gap: 1rem;
    text-align: center;
    /* border: solid #050505;
    border-radius: 40px; */
    align-items: flex-end;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    
}

.logoFormat {
    height: 5rem;
    width: auto;
    margin: 1rem;
}

.logoHeader {
    grid-column: 1;
}

.links {
    grid-column: 2;
}

.link {
    font-size: 3rem;
    margin: 1.5rem;
    border:none;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0.4rem;
    left: 50%;
    bottom:0;
    background-color: #050505;
    transition: all ease-in-out .2s;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.brands {
    margin: 2rem;
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.6rem;
}

.brand {
    padding-right: 1rem;
    border:none;
    position: relative;
}

.card {
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
}


/* Mobile */
@media (max-width: 700px) {

    .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4rem);
    margin: 0.5rem;
    }

    .logoFormat {
        height: 3rem;
        margin: 0.1rem
    }

    .logoHeader {

    }

    .links {
        grid-column: 1;
    }

    .link {
        font-size: 1.5rem;
        margin: 15px;
    }

    .brands {
        grid-column: 1;
        margin: 0.1rem 
    }

}